@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 22px;
}

.container{
  height: 100vh;
  background-image: url(netflix-background-img.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
}

.logo a{
  text-decoration: none;
  font-size: 40px;
  color: rgb(229, 9, 20);
  font-weight: 500;
}

.languague{
  margin-right: 20px;
  color: rgb(197, 197, 197);
  border: .5px solid white;
  outline: none;
  height: 35px;
  width: 120px;
  background: transparent;
  border-radius: 5px;
  border-color: rgb(162, 162, 162);
}

.sign-in{
  font-size: 20px;
  height: 35px;
  width: 90px;
  background: rgb(229, 9, 20);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.centre-container{
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-heading{
  font-size: 50px;
  font-weight: 900;
  color: white;
}

.second-heading{
  padding-top: 10px;
  color: white;
  font-size: 27px;
}

.third-heading{
  color: white;
  padding-top: 18px;
  font-size: 22px;
}

.input-started{
  margin-top: 20px;
  display: flex;
}

.email-input input{
  width: 400px;
  height: 60px;
  margin-right: 20px;
  background: transparent;
  border-radius: 5px;
  border: .5px solid rgb(148, 140, 140);
  border-color: white;
}

.get-start{
  width: 200px;
  height: 60px;
  cursor: pointer;
  background-color: rgb(229, 9, 20);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  transition: .3s ease;
}

.get-start:hover{
  background-color: rgb(209, 34, 34);
}